﻿@model AbtoTest.MVC.Models.Sponsor

@{
    ViewBag.Title = "title";
}

<h2>Sponsor - @Model.Id</h2>
@using (Html.BeginForm("Update", "Sponsor", FormMethod.Post, new { id = "sponsorForm" }))
{
    <fieldset>
        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", placeholder = "Id" } })
        <div class="form">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
        </div>
        <div class="form">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Birth Date" } })
        </div>
        <div class="form">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", placeholder = "Note" } })
            <div style="margin-left: 20px;">
                <div>Children:</div>
                @for (var i = 0; i < Model.Children.Count; i++)
                {
                    @Html.HiddenFor(model => model.Children[i].Id)
                    @Html.EditorFor(model => model.Children[i].FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Child First Name" } })
                }
            </div>
        </div>
        <button type="button" id="submitBtn" class="btn btn-primary">Submit</button>
    </fieldset>
}

<script src="~/lib/signalr/signalr.js"></script>
@section scripts {
    <script>

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/update")
            .build();

        hubConnection.on("Notify", function (data) 
        {
            var keyValuePairs = data.split("&");
            var formData = {};

            keyValuePairs.forEach(function (pair) {
                var keyValue = pair.split("=");
                formData[keyValue[0]] = decodeURIComponent(keyValue[1].replace(/\+/g, " "));
            });

            $("#Id").val(formData.Id);
            $("#FirstName").val(formData.FirstName);
            $("#LastName").val(formData.LastName);
            $("#Email").val(formData.Email);
            $("#BirthDate").val(formData.BirthDate);
            $("#Note").val(formData.Note);
        });

        $(function () {
            $("#submitBtn").click(function () {
                $.ajax({
                    url: "@Url.Action("Update", "Sponsor")",
                    type: "POST",
                    data: $("#sponsorForm").serialize(),
                    success: function (response) {
                        alert("Successfully updated");
                    },
                    error: function (xhr, status, error) {
                        alert("Error, cant update");
                    }
                });
            });
        });

        document.getElementById("submitBtn").addEventListener("click", function (e) {
            let formData = $("#sponsorForm").serialize();
            hubConnection.invoke("Notify", formData);
        });

        hubConnection.start();
        
    </script>
}